$light-theme: (
  theme: #FF8C00,
  theme-upper: rgba(255, 141, 75, 0.7),
  junior: #0B1E43,
  background: #E0E0E0,
  background-upper: #f0f0f0,
  text: #1a1a2c,
  grey: rgba(146, 146, 146, 0.5),
  white: white,
  red: rgb(180, 6, 6),
  border: rgba(0, 0, 0, 0.25)
);

$dark-theme: (
  theme: #ff7300,
  theme-upper: rgba(255, 141, 75, 0.7),
  background-upper: #28295f,
  background: rgb(26, 26, 44),
  grey: rgb(221, 221, 221, 0.7),
  white: white,
  red: rgb(180, 6, 6),
  border: rgba(0, 0, 0, 0.25)
);


$current-theme: $light-theme;

@function theme-color($color-name) {
    @return map-get($current-theme, $color-name);
}

